.app-container {
	padding-bottom: 30px;
}

.app-name {
	text-align: center;
}

a {
	color: #4A90E2;
}

.shortcuts {
	font-weight: 400;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	margin-bottom: 60px;
}

.td-type-block {
	text-align: center;
}

.type-head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 22px;
	margin-bottom: 12px;
}

.type-head .task-type {
	font-weight: 400;
}

.type-head .task-period {
	color: #999;
	font-size: 12px;
}

.td-task-details {
	padding: 8px 0 16px;
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px;
}

.td-type-block textarea {
	display: inline-block!important;
	height: 80px;
}

.td-type-block .pure-radio {
	font-size: 12px;
}

.td-type-block input {
	margin-left: 10px;
}

.td-type-selector {
	margin-top: 12px!important;
}

.td-type-block input:first-child {
	margin-left: 0;
}